auto-save-list/
session.*
*~
\#*
*.org*
# Exclude most things.  Only looking for .emacs*, .bash* (mostly)
#[a-zA-z]*
#.[IX]*
#.[c-df-z]*
.#77627_review_notes.org
.#expectd_null_response.org
.#perf_eval_73033.org
.#rules_review.org
.IBMERS/
.ICAClient/
.ICEauthority
.accomments/
.accurev/
.adobe/
.agnc/
.anyconnect
.bash_history
.bash_logout
.bash_profile
.bashrc.orig
.cache/
.config-samba-check
.config/
.ctags
.dbus/
.dia/
.dmrc
.dropbox-dist/
.dropbox/
.eclipse/
.enable-compiz
.esd_auth
.firstlogin
.fontconfig/
.fonts/
.force_updates
.gconf.path.defaults
.gconf.path.mandatory
.gconf.xml.defaults/
.gconfd/
.gitconfig
.gnome/
.gnome2/
.gnote
.gnupg/
.gnuplot_history
.gstreamer-0.10/
.gtk-bookmarks
.hg/
.hgrc
.imsettings.log
.ipselect/
.java/
.jazz-scm/
.jazzcerts
.kde/
.lesshst
.liferea_1.6/
.local/
.lotus/
.macromedia/
.mozilla/
.myhelp/
.nzsql_history
.openclient/
.openconnect-20111130
.pki/
.printer-groups.xml
.pulse-cookie
.pulse/
.recently-used
.recently-used.xbel
.spice-vdagent/
.sqlite_history
.ssh/
.subversion/
.thumbnails/
.usb-applet
.xinputrc
.xsession-errors
.xsession-errors.old
Bar5.2_python/
Desktop/
Documents/
Downloads/
Dropbox/
Music/
Pictures/
anti-rush/
colors
dbos_query_per_min.sh
defects
delayacct
doxygen_sched/
eclipse-cdt-rtc.tar
eclipse/
header
lotus/
newdefects/
notes/
nz
nzscraps/
packages/
resilience
schedrules/
setup/
stack
tools/
user
wlmtesting/
workspaces
